<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Clipboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/clipboard.css') }}">
</head>

<body style="font-family: Roboto;">
    <h1>Cheathub</h1>
    <h3>Enter Whatever You Want</h3>
    <form method="POST" class="form_style">
        
        <textarea name="clipboard_text" cols="100" rows="10"></textarea><br><br>
        <input type="submit" value="Save">
    </form>

    <h2>Saved Clipboard Entries:</h2>
    

    <ul style="list-style-type:none;" class="form_return">
        {% for entry in clipboard_entries %}
            <li >
                {{entry[1]}}
                <form action="/delete/{{user_code}}/{{entry[0]}}" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
                <a href="/edit/{{user_code}}/{{entry[0]}}">Edit</a>
                

            </li>
        {%endfor%}
    </ul>
    <br>
    <a href="/" class="back_edit">Back</a>
</body>
</html>