<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Clipboard Entry</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/clipboard.css') }}">
</head>
<body style="font-family: Roboto;">
    <h2>Edit Clipboard</h2>
    <form method="POST" class="form_style">
        <label for="clipboard_text">Text:</label><br>
        <textarea name="clipboard_text" cols="100" rows="10">{{current_text}}</textarea><br><br>
        <input type="submit" value="Update">
    </form>

    <a href="/clipboard/{{user_code}}" class="back_edit">Go Back</a>
</body>
</html>